@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Example row of columns -->

<div class="row-fluid">

    <div class="span2">
        <div id="client-container" data-bind="foreach: clients">
            <div>
                <span data-bind="text: name"></span>
            </div>
        </div>
        <form class="well form-inline">
            <input type="text" data-bind="value: clientName, valueUpdate: 'afterkeydown'" class="input-small" placeholder="Name">
            <button type="submit" data-bind="enable: validName, click: addClient" class="btn">Add client</button>
        </form>
    </div>

</div>
