@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Example row of columns -->

<div class="row-fluid">

    <div class="span2">
        <ul class="nav nav-list">
            <li class="nav-header">Ryhmät</li>
            <li><a href="#">Lisää</a></li>
            <li class="nav-header">Asiakkaat</li>
            <li><a href="#">Lisää</a></li>
            <li class="nav-header">Mittaukset</li>
            <li><a href="#">Kehonkoostumusmittaus</a></li>
        </ul>
    </div>

</div>
